{% extends "base.html" %}
{% block content %}
    <h2> {{ page_data.dish.dish_name }} </h2>
    <p> Dish ID: {{ page_data.dish.dish_id }}</p>
    <p> Dish Cost: {{ page_data.dish.dish_cost }}</p>
    <p> Dish Description: {{ page_data.dish.dish_description }}</p>
    <br>
    <img src="{{ page_data.image }}" style="width: 250px">
    
    <br/>
    <hr/>

    <h3>Update Dish Info:</h3>
    <div>
        <form action="/dishes/{{ page_data.dish.dish_id }}/" method="POST">
            <input type="text" name="dish_name" value = "{{ page_data.dish.dish_name }}">
           
            <input type="text" name="dish_cost" value = "{{ page_data.dish.dish_cost }}">
            
            <input type="text" name="dish_description" value = "{{ page_data.dish.dish_description }}">
            
            <button>Update</button>
        </form>
        <hr/>
        
        <h3>Update Image:</h3>
        <form action="/dishes/{{ page_data.dish.dish_id }}/image/" method="POST" enctype = "multipart/form-data">
            <input type="file" name="image">
            <input type="submit">
        </form>
    </div>

    <br><hr/>

    <form action = "/dishes/{{ page_data.dish.dish_id }}/delete/", method="POST">
        <button>Delete Dish</button>
    </form>

{% endblock %}