{% extends "base.html" %}
{% block content %}
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css') }}">
    </head>
    <body class="text-center">
        <h1 class="h1 mb-1 font-weight-normal">{{ page_data.page_title }}</h1>
        <form class="form-signin" action="/login/" method="POST">
            
            <img class="mb-4" src="/static/logo.png" alt="" width="200" height="200">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" name="restaurant_email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="restaurant_password" id="inputPassword" class="form-control" placeholder="Password" required>
            <div class="checkbox mb-3">
                <label>
                  <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            
            <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
            <a href="/signup/">Sign Up</a>
                

        </form>
    </body>
{% endblock %}